[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "main/themes/minimal"]
	path = main/themes/minimal
	url = https://github.com/calintat/minimal.git
